/* GLOBAL Styles >> */

* {
  margin:0;
  padding:0;  
}

body {
  position: relative;
  font-family: sans-serif;
}

header {
  position: fixed;
  height: 10vh;
  width: 100%;
}

footer {
  /* https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1vh;
  width: 100%;
  background-color: rgb(0, 0, 127);
  border-top: 0.25vh solid aliceblue;
  color: white;
  text-align: center;
}


/* HEADER Styles >> */

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  /* background-color:  rgb(110, 110, 233, 0.5); */
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(240, 248, 255), rgb(173, 216, 230,0), rgb(173, 216, 230,0), rgb(110, 110, 233,1.0), rgb(0, 0, 127));
  border-bottom: 1.0vh solid rgb(0, 0, 127);
  /* color: rgb(255, 255, 255); */ /* Overridden at Span */
  text-align: center;
}

/* .logo {
  float: left;
  background-color: orange;
} */

.paintbrush {
  margin-left: 3vw;
  /* border: 5px solid rgb(0, 0, 127); */
}

/* NAV ICON Animation >> */
/* https://codepen.io/kowshikkuri/pen/vPebdy */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar */
/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
/* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
/* https://freefrontend.com/css-hamburger-menu-icons/ */
/* https://www.hostinger.com/tutorials/web-developer-portfolio */
/* https://itssharl.ee */
/* https://www.hostinger.com/tutorials/about-me-page-examples */

.trigger {
    /* position: absolute; */
    /* float: right; */
    margin-top: 5vh;
    z-index: 2;
    left: 50%;
    top: 50%;
    border: 2px solid white;
    border-radius: 15px; /* Menu Icon border corner rounding */
    transform: translateX(-50%) translateY(-50%);
}

.bars {
  width: 40px; /* Menu Icon size */
  cursor: pointer;
}

.active {
  float: right;
  z-index: 2;
  left: 50%;
  top: 50%;
  border: 2px solid white;
  background-color: white;
  color: red; /* WHAT DOES THIS DO?! */
  border-radius: 10px; /* Menu Icon border corner rounding */
}

.bars .line {
  fill: none;
  /* stroke: #fff; */
  stroke: white;
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}

.bars .line.top {
  stroke-dasharray: 40 172;
}

.bars .line.middle {
  stroke-dasharray: 40 111;
}

.bars .line.bottom {
  stroke-dasharray: 40 172;
}

.bars.active .top {
  stroke-width: 6;
  stroke-dashoffset: -132px;
  stroke: rgb(110, 110, 233);
}

.bars.active .middle {
  stroke-width: 6;
  stroke-dashoffset: -71px;
  stroke: rgb(110, 110, 233);
}

.bars.active .bottom {
  stroke-width: 6;
  stroke-dashoffset: -132px;
  stroke: rgb(110, 110, 233);
}


/* HEADER IMAGE Styles */

/* .banner-image { */
  /* <a href="https://www.freepik.com/free-vector/rainbow-gradient-curve-frame-template_14547796.htm#query=background%20design&position=45&from_view=keyword&track=ais_user&uuid=545cdecb-caae-4934-a353-4f2a69ccc496">Image by rawpixel.com</a> on Freepik */
  /* height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("/assets/images/rm222batch2-mind-03.jpg");
  background-size: cover;
  background-position: center;
} */


/* MAIN Styles >>  */

main {
  /* https://css-tricks.com/couple-takes-sticky-footer/ */
  min-height: 100vh;
  padding-top: 6vh;  /* MAIN SECTION MARGIN PUSHES DOWN HEADER, HAVE TO USE PADDING  */
  margin-bottom: 3vh;
  flex: 1 0 auto;
  background-image: linear-gradient(to bottom right, rgb(240, 248, 255,1), rgb(173, 216, 230,0.05), rgb(81, 194, 232,0.10), rgba(58, 185, 227, 0.10), rgba(24, 184, 238, 0.25), rgb(110, 110, 233,0.65)); /* https://www.w3schools.com/css/css3_gradients.asp */
}

.home-caption {
  margin-top: 30vh;
  margin-left: 30vw;
  overflow: hidden;
  position: relative;
  text-align: left;
  font-size: 40px;
  color: rgb(0, 0, 127);
}

@keyframes blink-cursor {
  0%{color:white;}
  20%{color:rgb(173, 216, 230);}
  40%{color:rgb(118, 200, 227);}
  60%{color:rgb(60, 182, 223);}
  80%{color: rgb(110, 110, 233);}
  90%{color: rgb(0, 0, 127);}
  100%{color:white;}
}

.blink-cursor-1 {
  animation: blink-cursor 5s ease-in infinite;
}

.blink-cursor-2 {
  animation: blink-cursor 5s ease-in infinite;
  animation-delay: 2.5s;
}

.dev-summary {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4vh;
  margin-left: 0vw;
  text-align: left;
  font-size: 20px;
}

/* INCREASE SIZE OF TEXT ON HOVER WITHOUT FONT-SIZE OR SHIFTING ELEMENTS */
/* .dev-summary p:hover{
  -webkit-transform: scale(1.2);
} */

.text-gradient {
  /* https://www.geeksforgeeks.org/how-to-create-linear-gradient-text-using-html-and-css/ */
  /* background: linear-gradient(to right, rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(60, 182, 223), rgb(60, 182, 223), rgb(173, 216, 230), rgb(60, 182, 223), rgb(110, 110, 233), rgb(110, 110, 233), rgb(0, 0, 127)); */
  background: linear-gradient(to right, rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(60, 182, 223), rgb(60, 182, 223), rgb(173, 216, 230), rgb(173, 216, 230), rgb(173, 216, 230), rgb(173, 216, 230), aliceblue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* .scroll-text {
  https://blog.hubspot.com/website/scrolling-text-css#:~:text=CSS%20Horizontal%20Scrolling%20Text%3A%20Right,and%20output%20are%20shown%20below.
} */


/* .bounce {
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.fade-in {
  https://stackoverflow.com/questions/71550021/is-there-a-way-to-animate-appearing-text-in-html-css
  animation: fade-in 5s linear forwards;
}

@keyframes fade-in {
  0% {
    width: 0px;
    height: 0px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 100px;
    height: 100px;
  }
} */


/* SITE NAV Styles >> */

.site-nav {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.site-nav #site-links {
  display: none; /* Hides Navigation Menu until navMenuDisplay() is called */
}

.site-nav a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 40px;
  /* color: rgb(175,238,238); */
  color: rgb(110, 110, 233);
}

.site-nav a.icon {
  background: black;
  display: block;
  /* position: absolute; */
  float: right;
  right: 0;
  top: 0;
}

.site-nav a:hover {
  /* background-color: pink; */
  content: "";
  width: 50%;
  color: rgb(0, 0, 128);
  font-size: 80px;
  text-align: right;
  /* text-decoration-line: underline;
  text-decoration-color: currentColor;
  text-decoration-style: solid; */
  /* box-sizing: border-box; content-box; */  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  border-bottom: 1rem solid rgb(0, 0, 128, 0.75);
}

.about-section {
  display: none;
  padding-left: 25vw;
  font-size: 20px;
  color: rgb(0, 0, 127);
}

.about-section h2 {
  font-size: 40px;
}

.about-section p {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 0vw;
  padding-right: 3vw;
  color: rgb(0, 0, 127,0.60);  
}

@keyframes blink-text {
  0%{color:white;}
  20%{color:rgb(173, 216, 230);}
  40%{color:rgb(118, 200, 227);}
  60%{color:rgb(60, 182, 223);}
  80%{color: rgb(110, 110, 233);}
  90%{color: rgb(0, 0, 127);}
  100%{color:white;}
}

.blink-text {
  animation: blink-cursor 5s ease-in infinite;
}

.projects-section {
  display: none;
}

.projects-section h2 {
  font-size: 40px;
}

.contact-section {
  display: none;
}

.contact-section h2 {
  font-size: 40px;
}