/* GLOBAL Styles >> */

* {
  margin:0;
  padding:0;  
}

body {
  position: relative;
  font-family: sans-serif;
  cursor: url('/assets/images/Cursor_Circle_Open.png'), auto;
  a:hover {
    /* cursor: url('/assets/images/Cursor_Circle_Closed.png') 15 15, auto; */
    cursor: url('/assets/images/Cursor_Third-Eye.png'), auto; /* https://css-tricks.com/almanac/properties/c/cursor/ */
  }
  input {
    cursor: url('/assets/images/Cursor_Third-Eye.png'), auto; /* https://css-tricks.com/almanac/properties/c/cursor/ */
  }
}


/* HEADER Styles >> */

.header {
  top: 0vh;
  position: fixed;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vh;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(240, 248, 255, 1.0), rgb(173, 216, 230, 0.10), rgb(173, 216, 230, 0.25), rgb(110, 110, 233,0.50), rgb(110, 110, 233, 1.0), rgb(0, 0, 127, 1.0));
  border-bottom: 1.0vh solid rgb(0, 0, 127);
  text-align: center;
}

.paintbrush {
  margin-left: 2.0vw;
  /* border: 5px solid rgb(0, 0, 127); */
  box-shadow: 5px 2px 10px 10px rgb(246, 250, 253);
}

/* NAV ICON Animation >> */
/* https://codepen.io/kowshikkuri/pen/vPebdy */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar */
/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
/* https://www.w3schools.com/howto/howto_css_menu_icon.asp */
/* https://freefrontend.com/css-hamburger-menu-icons/ */
/* https://www.hostinger.com/tutorials/web-developer-portfolio */
/* https://itssharl.ee */
/* https://www.hostinger.com/tutorials/about-me-page-examples */

.trigger {
    margin-top: 5vh;
    z-index: 2;
    left: 50%;
    top: 50%;
    border: 2px solid white;
    border-radius: 15px; /* Menu Icon border corner rounding */
    transform: translateX(-50%) translateY(-50%);
}

.bars {
  width: 40px; /* Menu Icon size */
  cursor: pointer;
}

.bars:hover {
  /* cursor: url('/assets/images/Cursor_Circle_Closed.png')15 15, auto; */
  cursor: url('/assets/images/Cursor_Third-Eye.png') 5 5, auto; /* https://icons8.com/icon/set/pointing-triangle/group-ui */
}

.active {
  float: right;
  z-index: 2;
  left: 50%;
  top: 50%;
  border: 2px solid white;
  background-color: white;
  color: red; /* WHAT DOES THIS DO?! */
  border-radius: 10px; /* Menu Icon border corner rounding */
}

.bars .line {
  fill: none;
  stroke: white;
  stroke-width: 4;
  stroke-linecap: square;
  transition: stroke-dasharray 400ms,  stroke-dashoffset 400ms;
}

.bars .line.top {
  stroke-dasharray: 40 172;
}

.bars .line.middle {
  stroke-dasharray: 40 111;
}

.bars .line.bottom {
  stroke-dasharray: 40 172;
}

.bars.active .top {
  stroke-width: 6;
  stroke-dashoffset: -132px;
  stroke: rgb(110, 110, 233);
}

.bars.active .middle {
  stroke-width: 6;
  stroke-dashoffset: -71px;
  stroke: rgb(110, 110, 233);
}

.bars.active .bottom {
  stroke-width: 6;
  stroke-dashoffset: -132px;
  stroke: rgb(110, 110, 233);
}


/* HOME Page Styles */

/* MAIN Styles: Home >>  */

.main_home {
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
  flex: 1 0 auto;
  /* https://blog.hubspot.com/website/css-fade-in#text-transition */
  /* animation: fadePage 10s;
  animation-fill-mode: forwards; */
  background-image: linear-gradient(to bottom right, rgb(240, 248, 255,1), rgb(173, 216, 230,0.15), rgb(81, 194, 232,0.10), rgba(58, 185, 227, 0.10), rgba(24, 184, 238, 0.15), rgb(110, 110, 233,0.35), rgb(0, 0, 127,0.65));
}

/* @keyframes fadePage {
  from { background-image: white; }
  to { background-image: linear-gradient(to bottom right, rgb(240, 248, 255,1), rgb(173, 216, 230,0.10), rgb(81, 194, 232,0.10), rgba(58, 185, 227, 0.15), rgba(24, 184, 238, 0.25), rgb(110, 110, 233,0.40), rgb(0, 0, 127,0.65)); }
} */

.home {
  margin-top: 20vh;
  margin-left: 30vw;
  overflow: hidden;
  position: relative;
  text-align: left;
  font-size: 40px;
  color: rgb(0, 0, 127);
}

@keyframes blink-cursor {
  0%{color:white;}
  20%{color:rgb(173, 216, 230);}
  40%{color:rgb(118, 200, 227);}
  60%{color:rgb(60, 182, 223);}
  80%{color: rgb(110, 110, 233);}
  90%{color: rgb(0, 0, 127);}
  100%{color:white;}
}

.blink-cursor-1 {
  animation: blink-cursor 5s ease-in infinite;
}

.blink-cursor-2 {
  animation: blink-cursor 5s ease-in infinite;
  animation-delay: 2.5s;
}

.dev-roles {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4vh;
  margin-left: 0vw;
  text-align: left;
  font-size: 24px;
}

.dev-qualifications {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4vh;
  margin-left: 0vw;
  text-align: left;
  font-size: 24px;
}

.dev-applications {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4vh;
  margin-left: 0vw;
  text-align: left;
  font-size: 24px;
}

.dev-languages {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4vh;
  margin-left: 0vw;
  text-align: left;
  font-size: 24px;
}

/* INCREASE SIZE OF TEXT ON HOVER WITHOUT FONT-SIZE OR SHIFTING ELEMENTS */
/* .dev-summary p:hover{
  -webkit-transform: scale(1.2);
} */

.text-gradient {
  background: linear-gradient(to right, rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(0, 0, 127), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(110, 110, 233), rgb(60, 182, 223), rgb(60, 182, 223), rgb(173, 216, 230), rgb(173, 216, 230), rgb(173, 216, 230), rgb(173, 216, 230), aliceblue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}

/* dev-summary >>  */

.fade-in-text-1 {
  animation: fadeIn 25s ease-in infinite;
}

.fade-in-text-2 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 5s;
}

.fade-in-text-3 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 10s;
}

.fade-in-text-4 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 15s;
}

.fade-in-text-5 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 20s;
}

/* dev-qualifications >>  */

.fade-in-text-10 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 52s;
}

.fade-in-text-11 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 58s;
}

.fade-in-text-12 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 10s;
}

.fade-in-text-13 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 16s;
}

.fade-in-text-14 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 22s;
}

.fade-in-text-15 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 28s;
}

.fade-in-text-16 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 34s;
}

.fade-in-text-17 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 40s;
}

.fade-in-text-18 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 46s;
}

/* dev-applications >>  */

.fade-in-text-20 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 15s;
}

.fade-in-text-21 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 22s;
}

.fade-in-text-22 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 29s;
}

.fade-in-text-23 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 36s;
}

.fade-in-text-24 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 43s;
}

.fade-in-text-25 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 50s;
}

.fade-in-text-26 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 57s;
}

/* dev-languages >>  */

.fade-in-text-30 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 45s;
}

.fade-in-text-31 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 57s;
}

.fade-in-text-32 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 69s;
}

.fade-in-text-33 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 33s;
}

/* .fade-in-text-34 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 39s;
}

.fade-in-text-35 {
  animation: fadeIn 25s ease-in infinite;
  animation-delay: 45s;
} */

/* .scroll-text {
  https://blog.hubspot.com/website/scrolling-text-css#:~:text=CSS%20Horizontal%20Scrolling%20Text%3A%20Right,and%20output%20are%20shown%20below.
} */

/* .bounce {
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}


/* SITE NAV Styles >> */

.site-nav {
  overflow: hidden;
  position: relative;
  text-align: center;
}

.site-nav #site-links {
  display: none; /* Hides Navigation Menu until navMenuDisplay() is called */
}

.site-nav a {
  /* margin-top: -5vh; */
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 40px;
  color: rgb(110, 110, 233);
}

/* .site-navProjects a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 40px;
  color: rgb(175,238,238);
  color: rgb(110, 110, 233);
} */

.site-nav a.icon {
  background: black;
  display: block;
  float: right;
  right: 0;
  top: 0;
}

.site-nav a:hover {
  content: "";
  width: 50%;
  color: rgb(0, 0, 128);
  font-size: 80px;
  text-align: right;
  border-bottom: 1rem solid rgb(0, 0, 128, 0.75);
}


/* DEPRECATED!!!! FOR INDIVIDUAL PAGES INSTEAD OF HOMEPAGE SECTIONS */
.projects-section {
  display: none;
}

.projects-section h2 {
  font-size: 40px;
}

.contact-section {
  display: none;
}

.contact-section h2 {
  font-size: 40px;
}


/* FOOTER Styles >>  */

.footer {
  /* https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
  /* https://css-tricks.com/couple-takes-sticky-footer/ */
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1vh;
  width: 100%;
  background-color: rgb(0, 0, 127);
  color: white;
  text-align: center;
  border-top: 0.25vh solid aliceblue;
}


/* ABOUT Page >> */

/* MAIN: About >>  */

.main_about {
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
  flex: 1 0 auto;
  background-image: linear-gradient(to bottom right, rgb(240, 248, 255,1), rgb(173, 216, 230,0.15), rgb(81, 194, 232,0.10), rgba(58, 185, 227, 0.10), rgba(24, 184, 238, 0.15), rgb(110, 110, 233,0.35), rgb(0, 0, 127,0.65));
}

/* SECTIONS: About >> */

.about {
  margin-top: 20vh;
  margin-left: 25vw;
  font-size: 20px;
  color: rgb(0, 0, 127);
}

.about h2 {
  padding-bottom: 2vh;
  font-size: 40px;
  border-bottom: 0.10rem solid rgb(0, 0, 127);
}

.about p {
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: rgb(0, 0, 127,0.60);  
}

@keyframes blink-text {
  0%{color:white;}
  20%{color:rgb(173, 216, 230);}
  40%{color:rgb(118, 200, 227);}
  60%{color:rgb(60, 182, 223);}
  80%{color: rgb(110, 110, 233);}
  100%{color: rgb(0, 0, 127);}
}

.blink-text {
  animation: blink-cursor 6s ease-in infinite;
}

/* SITE NAV: About >> */

.site-navAbout {
  margin-top: 20vh;
}


/* PROJECTS Page >> */

/* MAIN: Projects >>  */

.main_projects {
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
  flex: 1 0 auto;
  background-image: linear-gradient(to bottom right, rgb(240, 248, 255,1), rgb(173, 216, 230,0.15), rgb(81, 194, 232,0.10), rgba(58, 185, 227, 0.10), rgba(24, 184, 238, 0.15), rgb(110, 110, 233,0.35), rgb(0, 0, 127,0.65));
}

.project-pagetitle {
  margin-top: 9vh;
  margin-left: 7vw;
  padding-bottom: 2vh;
  font-size: 40px;
  color: rgb(0, 0, 127);
  border-bottom: 0.10rem solid rgb(0, 0, 127);
}

/* SITE NAV: Projects >> */

.site-navProjects {
  margin-top: 20vh;
}

/* SECTIONS: Projects */

.project {
  margin-top: 8vh;
  margin-bottom: 2vh;
  margin-left: 7vw;
  text-align: left;
  font-size: 24px;
  color: rgb(0, 0, 110);
}

.project-line {
  margin-top: 2vh;
  margin-bottom: 1vh;
  display: flex;
  text-align: left;
}

.project-header {
  width: 12vw;
}

.project-detail {
  padding-top: 0.40vh;
  white-space: pre;
  color: rgb(0, 0, 110,0.75);
  text-align: left;
}


/* RESUME Page >> */

/* MAIN: Resume >>  */

.main_resume {
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
  flex: 1 0 auto;
  background-image: linear-gradient(to bottom right, rgb(240, 248, 255,1), rgb(173, 216, 230,0.15), rgb(81, 194, 232,0.10), rgba(58, 185, 227, 0.10), rgba(24, 184, 238, 0.15), rgb(110, 110, 233,0.35), rgb(0, 0, 127,0.65));
}

/* SITE NAV: Resume >> */

.site-navResume {
  margin-top: 20vh;
}

/* SECTIONS: Resume */

.role {
  margin-top: 10vh;
  margin-bottom: 2vh;
  margin-left: 5vw;
  text-align: left;
  font-size: 24px;
  color: rgb(0, 0, 110);
}

.role-line {
  margin-top: 1vh;
  margin-bottom: 1vh;
  display: flex;
  text-align: left;
}

.role-header {
  width: 15vw;
}

.role-detail {
  padding-top: 0.40vh;
  white-space: pre;
  color: rgb(0, 0, 110,0.75);
  text-align: left;
}


/* CONTACT Page >> */

/* MAIN: Contact >>  */

.main_contact {
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 3vh;
  padding-top: 1vh;
  flex: 1 0 auto;
  background-image: linear-gradient(to bottom right, rgb(240, 248, 255,1), rgb(173, 216, 230,0.15), rgb(81, 194, 232,0.10), rgba(58, 185, 227, 0.10), rgba(24, 184, 238, 0.15), rgb(110, 110, 233,0.35), rgb(0, 0, 127,0.65));
}

/* SECTIONS: Contact >> */

.contact {
  margin-top: 20vh;
  margin-left: 25vw;
  font-size: 20px;
  color: rgb(0, 0, 127);
}

.contact h2 {
  padding-bottom: 2vh;
  font-size: 40px;
  border-bottom: 0.10rem solid rgb(0, 0, 127);
}

.contact-line {
  margin-top: 2vh;
  margin-bottom: 1vh;
  display: flex;
  text-align: left;
}

.contact-header {
  width: 12vw;
}

.contact-detail {
  padding-top: 0.40vh;
  white-space: pre;
  color: rgb(0, 0, 110,0.7);
  text-align: left;
}

.contact a:link {
  text-decoration: none;
    color: rgb(0, 0, 110,0.5);
}

.contact a:visited {
  text-decoration: none;
  color: rgb(0, 0, 110,0.5);
}

/* CONTACT FORM: Contact */

.contact-form {
  margin-top: 6vh;
  width: 50vw;
  padding-top: 1.0vh;
  padding-bottom: 3.0vh;
  padding-left: 1.0vh;
  /* padding-right: 1.0vh; */
  /* display: flex; */
  border: 0.05rem solid rgb(0, 0, 110,0.25);
  border-radius: 1rem;
  background-color: rgb(110, 110, 233,0.10);
}

.contact-form h3 {
  margin-top: 1.0vh;
  margin-bottom: 1.0vh;
  text-align: center;
}

.form-label {
  display: inline-block; 
  margin-left: 1.0vw;
  width: 10vw;
  color: rgb(0, 0, 110,0.76);
}

.form-input {
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 35vw;
  background-color: rgb(110, 110, 233,0.05);
}

.form-input::placeholder {
  color: rgb(0, 0, 110,0.50);
}

/* SITE NAV: Contact >> */

.site-navContact {
  margin-top: 20vh;
}